{% extends "kegadmin/base.html" %}
{% load kegweblib %}
{% load crispy_forms_tags %}

{% block title %}Brewery DB Settings | {{ block.super }}{% endblock %}
{% block pagetitle %}Brewery DB Settings{% endblock %}

{% block kegadmin-main %}

<h4>Settings</h4>
<div class="well">
<p class="lead">
  Site-wide settings linking this Kegbot to Brewery DB.
</p>
<form method="post" action="">
   {% csrf_token %}
   {{ settings_form|crispy }}
    <button type="submit" class="btn btn-success" name="submit-settings">
      <i class="icon-edit icon-white"></i> Update Settings</button>
    </button>
</form>
</div>

{% endblock %}
